# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
resources/
resources/icon.png.md5
resources/splash.png.md5
plugins/
.idea/
www/data/
book2builderbuild/
book2builderbuild2/
