<!DOCTYPE html>
<ion-view>
  <ion-content scroll="false" has-bouncing="false" class="padding" style="background-color: white; height: 100%;">
    <div class="row row-center" style="text-align: center; height: 100%">
      <div class="col col-center">
        <ion-spinner icon="lines" align="center"></ion-spinner>
      </div>
    </div>
    <div class="row row-center" style="text-align: center;  height: 100%">
      <div class="col col-center">
        <strong>LOADING {{downloading && totalFiles ? ((downloading / totalFiles) * 100).toFixed() : 0}} %</strong>
      </div>
    </div>
  </ion-content>
</ion-view>
