<!DOCTYPE html>
<ion-view>
  <img
    style="top: -15px; left: -5px; -webkit-transform-origin-x: 0; -webkit-transform-origin-y: 0; z-index: 10; position: absolute; -webkit-transform: scale3d({{scale / ratio}},{{scale / ratio}},{{scale / ratio}})"
    ng-src="{{rootDir + 'data/assets/head_menu_button_sprite.png'}}"
    ng-click="backButton()">
  <ion-content has-bouncing="false" scroll="false">
    <videogular style="position: absolute" vg-theme="config.theme" vg-complete="completedActivity()">
      <vg-media vg-src="config.sources" vg-tracks="config.tracks">
      </vg-media>
      <vg-overlay-play></vg-overlay-play>
      <vg-poster vg-url="config.plugins.poster"></vg-poster>
    </videogular>
  </ion-content>
</ion-view>
